@import "_Footer.scss";

$InstagramGrad: radial-gradient(
  circle at 20% 125%,
  #fdf497 0%,
  #fdf497 5%,
  #fd5949 45%,
  #d6249f 60%,
  #285aeb 90%
);

.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title a {
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  color: #3b95fd;
  text-shadow: 0 0 2rem #1d63b3;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: #fafafa;
  text-shadow: 0px 0px 15px #3b95fd;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 2rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
  max-width: 700px;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: "no-wrap";
  max-width: 800px;
}

.spotifyGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;

  h3 {
    margin: 0;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    font-size: 2rem;
    color: #fafafa;
    text-shadow: 0px 0px 15px #3b95fd;
  }
}

.card,
.cardSpotify,
.cardInstagram,
.cardTwitter {
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  font-size: 1.25rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;

  .logo {
    height: 1em;
    margin-left: 0.5rem;
  }

  svg {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.25rem;
    margin-right: 0.5rem;
  }

  h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }

  p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }
}

.cardSpotify:hover,
.cardSpotify:focus,
.cardSpotify:active {
  color: #1db954;
  border-radius: 0;
  border-color: #1db954;
}

.cardInstagram:hover,
.cardInstagram:focus,
.cardInstagram:active {
  color: #d6249f;
  border-image-slice: 1;
  border-radius: 0;
  border-image-source: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.cardTwitter:hover,
.cardTwitter:focus,
.cardTwitter:active {
  color: #1da1f2;
  border-radius: 0;
  border-color: #1da1f2;
}

@media (max-width: 600px) {
  .title {
    font-size: 2rem;
  }
  .description {
    margin: 1.25rem;
    font-size: 1.2rem;
  }
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
