@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: mokoto-glitch;
  src: url("../fonts/Mokoto/Mokoto_Glitch.ttf");
}

@font-face {
  font-family: mokoto-glitch-mk1;
  src: url("../fonts/Mokoto/Mokoto_Glitch_Mark_I.ttf");
}

@font-face {
  font-family: mokoto-glitch-mk2;
  src: url("../fonts/Mokoto/Mokoto_Glitch_Mark_II.ttf");
}

@font-face {
  font-family: mokoto-glitch-outline;
  src: url("../fonts/Mokoto/Mokoto_Glitch_Outline.ttf");
}

:root {
  background: url("../images/GlitchTechBackgroundAlt.webp");
  animation: bg_fadeIn 2s ease-in;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  background: none;
}

.hero-gradient {
  background: linear-gradient(-45deg, black, #e73c7e, #00b619, black);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  height: 100vh;
  opacity: 0.15;
}

.gt-hidden {
  background: none;
  animation: bg_fadeOut 2.5s ease-out;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes bg_fadeOut {
  0% {
    background-color: rgba(0, 0, 0, 1);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}

@keyframes bg_fadeIn {
  0% {
    background: rgba(0, 0, 0, 1);
  }
  100% {
    background: url("../images/GlitchTechBackgroundAlt.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}
