@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-gradient {
  background: linear-gradient(-45deg, black, #e73c7e, #00b619, black);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  height: 100vh;
  opacity: 0.15;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
